{% extends "_layouts/cp.twig" %}
{% set title = "Vikiport"|t('plugin-handle') %}

{% block content %}
    <h4>Sections</h4>
    <select name="" id="select-session-handler">
        {% for section in sections %}
            <option value="{{section.handle}}">
                {{ section.name }}
            </option>
        {% endfor %}
    </select>
{% endblock %}
